<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>CLIENT_ID</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>REVERSED_CLIENT_ID</string>
	<key>API_KEY</key>
	<string>API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>GCM_SENDER_ID</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.stanford.cardinalkittemplateapplication</string>
	<key>PROJECT_ID</key>
	<string>cardinalkittemplateapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>STORAGE_BUCKET</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:123456789012:ios:1234567890123456789012</string>
</dict>
</plist>
